/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@import "https://fonts.googleapis.com/css2?family=Metal+Mania";

@font-face {
  font-family: 'Booter - Zero Zero';
  src: url("/assets/fonts/Booter - Zero Zero.woff2") format("woff2"),
  url("/assets/fonts/Booter - Zero Zero.woff") format("woff");
  font-weight: normal;
  font-size: medium;
}

.menu1 {
  background-color: lightcyan;
}

/*.container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.box {
  height: 200px;
  width: 200px;
  background-color: #1B9EE0;
  border-width: 10px;
  border-color: black;
}

.input {
  color: white;
  border-width: 2px;
  border-color: black;
  margin: 4px;
}

.input:focus {
  background-color: green;
}


.input:last-of-type {
  background-color: cadetblue;
}

html, body {
  padding: 0;
  margin: 0;
}

.nav ul {
  margin: 0;
}

.main-header {
  background-image: url('/assets/images/header-bg.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

* {
  font-family: Raleway, sans-serif;
  border-sizing: border-box;
  color: #7777;
}

.main-nav li {
  display: inline-block;
}

.nav :hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav a {
  color: white;
  display: inline-block;
  padding: .5rem;
  text-decoration: none;
}

.nav :active {
  background-color: white;
  color: black;
}

.main-nav {
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.band-name {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  font-family: 'Booter - Zero Zero';
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 9rem;
}

.content-section {
  margin: 1em;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 1.5em;
}

.section-header {
  font-family: "Metal Mania", serif;
  font-weight: normal;
  color: #333;
  font-size: 2.5em;
  text-align: center;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  background-color: #56CCf2;
  color: white;
  padding: 0.25em 0;

}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.nav-element {
  color: white;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  cursor: pointer;
}

.btn-header {
  margin: 5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  margin: 0 auto;
  display: block;
  color: #2D9CDB;
  padding: 0;
  border-radius: 50%;
  font-size: 4em;
  width: 100px;
  height: 100px;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block;
  padding-right: .5em;
}

.tour-date {
  color: #555;
  font-weight: 4;
  width: 11%;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.btn-primary {
  color: white;
  background-color: #56CCf2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2E9CDB;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.cart-column {
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;

}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
